body{
    font-family: "Inter", sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

ul>li{
    list-style: none;
}

/* Navbar Section Start */

.navbar-brand{
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 400;
    font-size: 40px;
}

.navbar ul li{
    font-size: 20px;
}

.nav-item{
    margin: 0px 8px;
}

.dropdown-menu[data-bs-popper]{
    left: -125px;
}

.navbar ul li a:hover, .dropdown-menu li a:hover{
    color: white !important;
    background: blue;
}

.icon{
    display: block;
    margin-left: 20px;
}

.icon i{
    padding: 9px 10px;
    font-size: 20px;
    border-radius: 7%;
    margin: 0px 5px;
}

.icon i:hover{
    color: white;
    background: blue;
}

/* Navbar Section End */

/* Banner Section Start */
.banner{
    height: calc(100vh - 70px);
}

.slide,.carousel-inner,
.carousel-item{
    height: 100%;
}

.carousel-item>img {
  height: 100%;
  width: 100%;
}

/* Banner Section End */

/* Product Card Section Start */

.card-img{
    height: 350px;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    object-fit: cover;
    object-position: left;
}

.card-img img:hover{
    transform: scale(1.1);
}

/* Product Card Section End */

/* Footer Start */

footer div>ul>li:hover{
    color: blue;
    cursor: pointer;
}

/* Footer End */
